.page {
  padding: 20px;
  background: #eaeded;
}

.cards {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.card {
  padding: 15px;
  border-radius: 8px;
  color: white;
}

.total { background: #232f3e; }
.pending { background: #f59e0b; }
.delivered { background: #22c55e; }
.revenue { background: #3b82f6; }

/* FILTER */
.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.filters input, select {
  padding: 8px;
}

/* TABLE */
.tableWrap {
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #232f3e;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* PRODUCT IMAGES */
.products img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 5px;
  border-radius: 4px;
}

/* BADGE */
.badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.pending { background: #fff3cd; color: #856404; }
.delivered { background: #d1e7dd; color: #0f5132; }
.processing { background: #cfe2ff; color: #084298; }
.cancelled { background: #f8d7da; color: #842029; }

/* BUTTON */
button {
  margin-right: 5px;
  padding: 5px 8px;
  border: none;
  background: #ffd814;
  cursor: pointer;
}

button:hover {
  background: #f7ca00;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;   /* 🔥 must */
  justify-content: center;
  align-items: center;
  z-index: 9999;   /* 🔥 important */
}

.modal-content {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

/* PRODUCT BOX */
.productBox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.productBox img {
  width: 50px;
  height: 50px;
}

.productItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.productItem img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.pname {
  font-weight: 600;
  margin: 0;
}

.pprice {
  margin: 0;
  color: green;
  font-size: 14px;
}