.footer {
  background:  #1f1a17;
  color: #fff;
  padding: 50px 20px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
}

.footer-left .logo {
  font-size: 24px;
  margin-bottom: 15px;
}

.footer-left p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.social-icons svg {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.back-top {
  margin-top: 20px;
  padding: 8px 15px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
}

.footer-links ul li:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  background: #1f1a17;
  color: white;
  margin-top: 40px;
}